<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agenda</title>
</head>
<body>
    <h1 style="text-align:center; font-weight: bold">Conectar</h1>
    <form action="submit" method="POST">{% csrf_token %}
        <div style="width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;">
            <form>
                <input type="text" name="username" placeholder="Usuário" required>
                <input type="password" name="password" placeholder="Senha" required>
                <button>Entrar</button>
            </form>

        </div>

    </form>

    {% for message in messages %}
        <div align="center">
            <strong>Erro! </strong>{{ message }}
        </div>
    {% endfor %}
    <footer>
        {% include "model-footer.html" %}
    </footer>


</body>
</html>