
    <meta charset="UTF-8">
    <title>Agenda</title>
    <div id="sair">
        <a href="/logout">Sair</a>
    </div>
    <div id="cabecalho">
        <h1 style="text-align:center; font-size: 64px; font-weight: bold">Agenda</h1>
    </div>

    <style>
    #sair{
        background-color: #cccccc;
        text-align: right;
        color: red;

    }
    #cabecalho{
        background-color: black;
        padding: 20px 2%;
        color: white;
        text-align: center;
    }
    </style>

